!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lets
    = stylesheet_link_tag    "lets/application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag "lets/application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    / use central rails navbar
    = render :partial => "layouts/navbar"
    / use local engine navbar (if no central footer)
    / = render :partial => "layouts/lets/navbar"

    .container
      - flash.each do |key, value|
        %div{:class => "#{flash_class(key.to_sym)}"}
          = value

      = yield

    / use central rails footer
    = render :partial => "layouts/footer"
    / use local engine footer (if no central footer)
    / = render :partial => "layouts/lets/footer"
