!!!
%html
  %head
    %title= current_account.name
    = stylesheet_link_tag    'default/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / Static navbar
    = render :partial => "layouts/navbar"
    / = render :partial => "layouts/default/navbar"

    .container
      = render 'default/shared/navigation'
      = yield

    / Footer
    = render :partial => "layouts/footer"
    / = render :partial => "layouts/default/footer"
